@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.book-image {
  max-width: 100px;
}

.book-title {
  font-family: "Nato Sans TC", sans-serif;
  font-weight: bold;
}

.book-author {
  font-style: italic;
  margin-bottom: 10px;
}
