@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

.card {
  position: relative;
  cursor: pointer;
  font-family: "Nato Sans TC", sans-serif;
}

.card .face {
  width: 300px;
  padding: 20px;
  transition: 0.5s;
}

.face.face1 {
  position: relative;
  background: #79ad9f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  min-height: 300px;
}

.card:hover .face.face1 {
  background: #193439;
  transform: translateY(0);
}

.card:hover .book-author {
  color: goldenrod;
  transition: 0.5s;
}

.image-container {
  display: flex;
  justify-content: center;
}

.card .face.face1 .content {
  opacity: 0.8;
  transition: 0.8s;
}

.card:hover .face.face1 .content {
  opacity: 1;
}

.book-image {
  max-width: 100px;
}

.card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  font-size: 1.5em;
}

.face.face2 {
  position: relative;
  background: #fff;
  padding: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  overflow: auto;
  height: 200px;
}

.book-publisher {
  font-style: italic;
  margin-bottom: 10px;
}

.content-header {
  font-weight: bolder;
}

.card:hover .face.face2 {
  transform: translateY(0);
}

.card .face.face2 .content a {
  margin: 15px 0 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 3px;
  border: 1px solid #333;
}

.card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}
