@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

.navbar {
  background-color: #41393e;
  display: flex;
  align-items: center;
}

.navbar-brand {
  padding: 20px;
}

.brand-logo {
  max-width: 100px;
  box-shadow: 5px 1px 5px black;
}

.title {
  font-family: "Nato Sans TC", sans-serif;
  color: #bf9aca;
  text-shadow: 5px 1px 5px black;
  text-align: center;
  margin: 10px;
}
